#home-page {

}

#top-bar {
    border: 3px solid black;
    margin: 5%;
    display: flex;
}

#card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.cards {
    text-align: center
}

#form {
    height: 10%;
    flex: 1;
    display: flex;
    padding: 2%;
}

#name-input {
    flex: 9;
}

#name-submit {
    flex: 1;
}

.cards-button {
    width: 100%;
    height: 100%;
    padding: 10%;
}
